name: CI # Nome do seu workflow

on: # Define quando o workflow deve ser acionado
  push:
    branches: [ "main" ] # Aciona o workflow em pushes para a branch 'main'

jobs: # Define os "trabalhos" que o workflow vai executar
  build: # Nome do primeiro trabalho
    runs-on: ubuntu-latest # Define que vai rodar em uma vm Ubuntu ultima versão

    steps: # Passos que o job vai executar
    - name: Checkout repository
      uses: actions/checkout@v3 # Baixa o código do repositório

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }} # Usa o segredo DOCKER_USERNAME
        password: ${{ secrets.DOCKER_PASSWORD }} # Usa o segredo DOCKER_PASSWORD

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: . # Usa o contexto atual para o build
        push: true # Define que a imagem será enviada para o registro
        tags: ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ github.sha }} # Define a tag da imagem

  update-manifest: # Nome do segundo job
    needs: build # Este 2° job só roda depois que o 1° job 'build' terminar com sucesso
    runs-on: ubuntu-latest

    steps:
    - name: Checkout manifests repository
      uses: actions/checkout@v3
      with:
        repository: Lourencoek/repo_segundo_manifest # Altere para o seu repositório de manifestos
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }} # Usa a chave SSH para ter permissão de escrita

    - name: Update image tag
      run: |
        sed -i 's|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ github.sha }}|' deployment.yaml # Substitui a tag da imagem no arquivo de deployment

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        title: 'Update image to ${{ github.sha }}' # Título do Pull Request
        body: 'This PR updates the Docker image to the new version.' # Corpo do Pull Request
        branch: 'update-image-${{ github.sha }}' # Nome da nova branch
        base: 'main' # Branch de destino do Pull Request
